<div class="grid-container">   
  <mat-grid-list cols="2" rowHeight="370px" gutterSize = "10px">  

     <mat-grid-tile>                                                       
      <mat-card class="dashboard-card"  >    
         <mat-card-content class="dashboard-card-content">  
          <div class="chart-wrapper">
            <canvas id = "lineChart"></canvas>
        </div>   
        </mat-card-content>  
      </mat-card>   
    </mat-grid-tile>  

    <mat-grid-tile>                                                       
      <mat-card class="dashboard-card"  >    
         <mat-card-content class="dashboard-card-content">  
          <div class="chart-wrapper">
            <canvas id = "lineChart4"></canvas>
        </div>   
        </mat-card-content>  
      </mat-card>   
    </mat-grid-tile>

    <mat-grid-tile>                                                       
      <mat-card class="dashboard-card"  >    
         <mat-card-content class="dashboard-card-content">  
          <div class="chart-wrapper">
            <canvas id = "lineChart3"></canvas>
        </div>   
        </mat-card-content>  
      </mat-card>   
    </mat-grid-tile>
    <mat-grid-tile>                                                       
      <mat-card class="dashboard-card"  >    
         <mat-card-content class="dashboard-card-content">  
          <div class="chart-wrapper">
            <canvas id = "lineChart2"></canvas>
        </div>   
        </mat-card-content>  
      </mat-card>   
    </mat-grid-tile>

  </mat-grid-list>                                                             
</div>


      
  


