<mat-toolbar color="warn" class="example-fill-remaining-space">

      

      <mat-icon> settings_remote </mat-icon>
      <a> IoT Based Real Time Safety Precaution System </a>
     
      <button color= "warn" mat-raised-button (click)= "tocam()">  Live Feed  </button>
      <!-- <a href="http://localhost:8080" type = "button"> Live Feed </a> -->


      <!-- <button colour = "primary" mat-raised-button routerLinkActive="active" routerLink="grid" (onclick) = "gotoGrid()"> Dashboard </button>
    
       -->
   

</mat-toolbar>


